#header {
	.pagename.redditname a {
		background: url(%%Soulframe-5%%) 0 0 no-repeat;
		width: 550px;
		height: 185px;
		display: inline-block;
		position: absolute;
		left: 0px;
		top: -5px;
		text-indent: -9999px;
		opacity: 0.85;
		transition: opacity 0.1s ease-in-out;

		&:hover {
			opacity: 1;
			transition: opacity 0.1s ease-in-out;
		}
	}
}